body {
    background-image: linear-gradient(to bottom, #d1c4e9, #f8bbd0); 
}

.navbar-custom {
    background-color: #032547af;
}

.navbar-brand{
    color: white;
}
/*LOGO*/
.logo {
    max-width: 500px; 
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 80%; 
    }
}

@media screen and (max-width: 576px) {
    .logo {
        max-width: 60%; 
    }
}

.mb-4{
    font-size: 25px;
}

.bg-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.container-form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cantidad-label {
    margin-top: 10px;
}

.btn-outline-secondary {
    border-color: #ccc;
    color: #333;
}

.btn-outline-secondary:hover {
    background-color: #ccc;
}

/*Cards de otras cotizaciones*/
#intercambiar {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#intercambiar:hover {
    transform: rotate(180deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container-form {
    padding: 50px; 
    border-radius: 20px; 
    box-shadow: 0px 10px 20px rgb(46, 46, 46); 
}

.card {
    color: white;
    margin: 10px;
    width: 18rem; 
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-title {
    font-weight: bold;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.card i {
    font-size: 2rem;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.05); 
    background-color: #000; 
    cursor: pointer;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover i {
    color: #fff; 
}


/*FOOTER*/

.footer {
    background-color: #032547af;
    padding: 20px 0;
    text-align: center;
}

.footer h4 {
    color: #333;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.nm-ft{
    color: white;
}

.fa-mug-saucer {
    color: white;
  }
  
  .social-icons a i {
    transition: transform 0.3s;
  }
  
  .social-icons a:hover i {
    transform: scale(1.2);
 
  }
  .social-icons a:hover {
    color: #007bff; 
    transform: scale(1.1); 
  }

  .social-icons i:hover {
    color: #007bff; 
    transform: scale(1.1); 
  }
  
  .list-unstyled li a:hover {
    color: #007bff; 
    text-decoration: underline; 
    
}

  