
html, body {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: #673ab7;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 400px;
    height: 100px;
    margin-right: 10px;
}

.titulo {
    color: white;
    font-size: 1.5em;
    margin: 0;
}

p {
    max-width: 600px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}


body {
    background-image: linear-gradient(to bottom, #d1c4e9, #f8bbd0); 
}



.contenedor-principal {
    color: #333;
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    width: 65%; /* Cambiado a 50% */
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.contenedor-secundario {
    display: inline-block;
    vertical-align: top; /* Alinea en la parte superior */
    width: 30%; /* Cambiado a 50% */
}



h1 {
    color: #673ab7; 
    margin-bottom: 20px; 
    font-size: 2em; 
}

p {
    max-width: 600px; 
    text-align: center;
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

.btn {
    color: white; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em; /* Ajusté el tamaño del texto */
    padding: 10px 20px; 
    background-color: #673ab7; 
    margin-bottom: 15px; /*margen inferior al botón para separarlo del siguiente elemento */
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1d094d; /* Cambié el color de fondo al pasar el mouse */
}

.cuadro {
    border: 2px solid #33333381;
    padding: 20px;
    background-color: #ffffff5b;
    border-radius: 5px;
    width: 30%; /* Ajusta el ancho del cuadro según lo que prefieras */
}
.moneda {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.moneda select {
    flex: 1; /* Hace que el select ocupe el espacio disponible */
    padding: 10px 20px 10px 10px;
    border: 1px solid #33333327;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    line-height: normal;
}

.moneda input {
    flex: 1; /* Hace que el input ocupe el espacio disponible */
    border: 0;
    font-size: 24px;
    text-align: right;
    padding-top: 5px;
}

.moneda select, .moneda input {
    margin: 0; /* Asegura que no haya márgenes */
}

.taza-de-cambio{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cambio{
    color: #333;
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus,button:focus{
    outline: 0;
}


.cotizaciones-container {
    border: 2px solid #33333381;
    padding: 20px;
    background-color: #ffffff5b;
    border-radius: 5px;
    width: 30%; /* Ancho del contenedor de cotizaciones */
}
.cotizaciones {
    margin-bottom: 20px; /* Espacio entre las secciones de cotizaciones */
}



.cotizaciones-container {
    border: 2px solid #33333381;
    padding: 20px;
    background-color: #ffffff5b;
    border-radius: 5px;
    width: 48%;
  }
  
  .cotizaciones {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #673ab7;
  }
  
  .cotizacion {
    border: 1px solid #33333381;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
  }
  
  .cotizacion h2 {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .cotizacion p {
    font-size: 0.9em;
    color: #555;
    margin: 0;
  }