* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #d1c4e9, #f8bbd0); 
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif; 
}


h1 {
    color: #673ab7; 
    margin-bottom: 20px; 
    font-size: 2em; 
}

p {
    max-width: 600px; 
    text-align: center;
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

.btn {
    color: white; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em; /* Ajusté el tamaño del texto */
    padding: 10px 20px; 
    background-color: #673ab7; 
    margin-bottom: 15px; /*margen inferior al botón para separarlo del siguiente elemento */
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1d094d; /* Cambié el color de fondo al pasar el mouse */
}

.cuadro {
    border: 2px solid #33333381; 
    padding: 20px; 
    background-color: #ffffff5b; /* Establece el color de fondo del cuadro a blanco */
    border-radius: 5px; 
    
}

.moneda {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.moneda select {
    flex: 1; /* Hace que el select ocupe el espacio disponible */
    padding: 10px 20px 10px 10px;
    border: 1px solid #33333327;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    line-height: normal;
}

.moneda input {
    flex: 1; /* Hace que el input ocupe el espacio disponible */
    border: 0;
    font-size: 24px;
    text-align: right;
    padding-top: 5px;
}

.moneda select, .moneda input {
    margin: 0; /* Asegura que no haya márgenes */
}

.taza-de-cambio{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cambio{
    color: #333;
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus,button:focus{
    outline: 0;
}

@media (max-widht:600px){
    .moneda input{
        width: 200px;
    }
}